<a href="https://colab.research.google.com/github/NhatHuy2k2/AI/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
Value1 = input('Nhập vào số thứ nhất :')
Value2 = input('Nhập vào số thứ hai :')
Value1= int(Value1)
Value2 = int(Value2)
print('Tổng 2 số bằng ',Value1 + Value2)

Nhập vào số thứ nhất :12
Nhập vào số thứ hai :2
Tổng 2 số bằng  14

In [23]:
with open ('text.txt',mode = 'w') as accounts:
  accounts.write('201461 Nguyễn Văn A 10\n')
  accounts.write('201462 Lê Văn B 6\n')
  accounts.write('201463 Trần Văn C 8\n')

In [24]:
with open ('text.txt',mode = 'w') as accounts:
  print('201461 Nguyễn Văn A',file = accounts)
  print('201462 Lê Văn B',file = accounts)
  print('201463 Trần Văn C',file = accounts)

In [30]:
with open ('text.txt',mode = 'w+') as accounts:
  print(f"{'MSSV':<10}{'Name':<20}{'Score':>2}")
  for record in accounts:
      mssv; name; score = record.split()
      print(f"{mssv:<10}{name<20}{score:>2}")

MSSV      Name                Score

In [26]:
import pandas as pd 
url = 'Dataset.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

    STT      MSSV         Full name             Faculty  School year  Score
0     1  20146101        Tran Van A  Co khi Che tao may           20     10
1     2  20146102      Nguyen Van B        Dien dien tu           17      8
2     3  20146103          Lo Thi C  Co khi Che tao may           23      5
3     4  20146104      Doan Thanh A       Dien  dien tu           22      8
4     5  20146105          Lo Thi D     Co khi dong luc           21      6
5     6  20146106      Ly Minh Nhut       Dien  dien tu           20     10
6     7  20146107       Lo Van Troi     Co khi dong luc           19      6
7     8  20146108  Tran Lo Nhat Huy  Co khi Che tao may           18      7
8     9  20146109     Tran Quoc Huy     Co khi dong luc           20      9
9    10  20146110    Huynh Quoc Don       Dien  dien tu           20      7
10   11  20146111       Lo Dang Nam  Co khi Che tao may           21      5
11   12  20146112        Tran Van E     Co khi dong luc           21      3
12   13  20146113      Nguyen Van F  Co khi Che tao may           19      8
13   14  20146114          Lo Thi G             Kinh te           19      6
14   15  20146115      Doan Thanh X  Co khi Che tao may           18     10
15   16  20146116          Lo Thi J       Dien  dien tu           16      6
16   17  20146117    Tran khinh Duy  Co khi Che tao may           22      1
17   18  20146118    Diep Khai Hoan             Kinh te           21      5
18   19  20146119    Nguyen Huu Cho             Kinh te           20      8
19   20  20146120   Nguyen Lo Phong  Co khi Che tao may           20      8